@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .dark {
    background-color: rgb(34, 38, 44) !important;
    color: rgb(242, 243, 245) !important;
  }

  .body {
    color: rgb(242, 243, 245) !important;
  }

  .brand {
    color: rgb(242, 243, 245) !important;
    background-color: #008080 !important;
  }
}

.dark\:bg-gray-800:is(.dark *) {
  background-color: rgb(34, 38, 44) !important;
  color: black !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.brand {
  color: rgb(242, 243, 245) !important;
  background-color: #008080;
}

.text-brand {
  color: #008080;
}

.dark\:bg-gray-800:is(.dark *) {
  color: rgb(242, 243, 245) !important;
}

.bg-cyan-700 {
  background-color: #008080;
}

.custom-bg {
  background-color: rgb(34, 38, 44) !important;
}
